# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.*.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.ipch
*.VC.db
*.VC.opendb

# Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]ut/
[Bb]in/
[Oo]bj/
*.obj
*.exe
*.log
